<!-- Begin whatsapp-button -->
<!--	<a href="https://api.whatsapp.com/send?phone=79191549736" target="_blank" title="Написать в Whatsapp" rel="noopener noreferrer"><div class="whatsapp-button"><i class="fab fa-whatsapp"></i></div></a>
<!-- End whatsapp-button -->


<!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                // facebook: "1461630111772", // Facebook page ID
                whatsapp: "+79191549736", // WhatsApp number
                telegram: "ordanax", // Telegram bot username
                vkontakte: "ordanax", // VKontakte page name
                // sms: "79191549736", // Sms phone number
                email: "ordanax@ya.ru", // Email
                call: " +79191549736", // Call phone number
                call_to_action: "Напишите нам", // Call to action
                button_color: "#c82333;", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "sms,call,email,telegram,facebook,vkontakte,whatsapp,", // Order of buttons
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
<!-- /WhatsHelp.io widget --> 
